@font-face {
    font-family: Futura;
    src: url(./Futura-Bold.ttf);
}
@font-face {
    font-family: Helvetica;
    src: url(./HelveticaNowText-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
*::selection{
    color: white;
    background-color: black;
}
html,body{
    
height: 100%;
width: 100%;
}
body{
    background-color: #F7F7F7;
}
#nav{
    width: 100%;
    position: fixed;
    z-index: 10;
    padding-top: 15px;
    padding-left: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#links{
    padding: 10px;
}
#nav-part1{
    height: 70px;
    overflow: hidden;
}
#nav-part1 svg{
    display: block;
}
#nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}
#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}
#nav-part2 #icons i{
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}
#cursor{
    height: 190px;
    width: 190px;
    background-color: #d3d3d3;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
}
#page1{
min-height: 100vh;

position: relative;
width: 100%;
padding: 0 1vw;
padding-top: 25vh;
}

#page1 h1{
    font-size: 16vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -10px;
    
}
#video-container{
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 3.1vw 2.5vw;
    background-color: black;
    color: #fff;
    font-size: 1.2vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;


}

#page2 .elem{
    height: 100%;
    width: 31%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}
.elem p{
    color: grey;
}
.elem .dets{
    
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 50px;
    width: 70%;
    background-color: #FFFFFF;
    position: absolute;
    transition: height 0.3s ease;
    padding: 10px 20px;
}
#image-container {
    width: 200px;
    height: 130px;
    position: relative;
    
}
#image-container img {
    width: 100%;
    height: 100%;
    opacity: 0; 
    transition: opacity 0.3s hard;
    text-align: center;
    
}
#image-container #image-desc{
    margin-bottom: 50px;
    font-size: 10px;
    padding-left: 1vh;
    color: black;
    opacity: 0;
}
#image-container:hover #image-desc{
    margin-left: 50px;
    text-align: center;
    opacity: 1;
}

#image-container:hover img {
    opacity: 1;
    height: 100%;
    padding-left: 80px;

}
#image-container::after{
    opacity: 0;
}
#image-container2 {
    width: 200px;
    height: 130px;
    position: relative;
    
}
#image-container2 img {
    width: 100%;
    height: 100%;
    opacity: 0; 
    transition: opacity 0.3s hard;
    text-align: center;
    
}
#image-container2:hover img {
    opacity: 1;
    height: 100%;
    padding-left: 80px;

}
#image-container2 #image-desc2{
    margin-bottom: 50px;
    font-size: 10px;
    padding-left: 1vh;
    color: black;
    opacity: 0;
}
#image-container2:hover #image-desc2{
    margin-left: 50px;
   
    text-align: center;
    opacity: 1;
}
#image-container2::after{
    opacity: 0;
}

#image-container3 {
    width: 200px;
    height: 130px;
    position: relative;
    
}
#image-container3 img {
    width: 100%;
    height: 100%;
    opacity: 0; 
    transition: opacity 0.3s hard;
    text-align: center;
    
}
#image-container3:hover img {
   
    opacity: 1;
    height: 100%;
    padding-left: 80px;

}
#image-container3 #image-desc3{
    margin-bottom: 50px;
    font-size: 10px;
    padding-left: 1vh;
    color: black;
    opacity: 0;
}
#image-container3:hover #image-desc3{
    margin-left: 50px;
    
    text-align: center;
    opacity: 1;
}
#image-container3::after{
    opacity: 0;
}
.elem .dets:hover{
    height: 200px;
    transform: scale(1);
}
#page3{
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child{
    height: 55vh;
    width: 40vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.child img{
    height: 100%;
}
#child1{
flex-direction: column;
}
#child2{
flex-direction: column;
}
#child3{
flex-direction: column;
}
#child4{
flex-direction: column;
}
#page4{
    min-height: 100vh;
    
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 25vh;
    }
    
    #page4 p{
        text-align: center;
       
        font-size: 70px;
        text-transform: uppercase;
        font-family: futura;
        line-height: 1.2;
        letter-spacing: 2px;
        
        
    }
    .hr-container {
        text-align: center;
    
      }
      
      .hr-text {
        font-size: 9px;
        margin-bottom: 5px;
        margin-top: 100px;
        
      }
      #page5{
        min-height: 30vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 3vw 1vw;
        justify-content: space-between;
        flex-direction: column;
    }
   
    button {
        background-color: black;
        display: flex;
        border-radius: 50px;
        border: none;
        color: white;
        padding: 20px 70px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;  
    
    }
    p {
        font-size: 17px;
        
    }
    button:hover{
        color: grey;
        transition: 0.5s;
    }
      
@media (max-width:600px) {
    #nav{
        width: 100%;
        position: fixed;
        z-index: 10;
        padding-top: 15px;
        padding-left: 5px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    #nav #nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    #links{
        padding: 10px;
        display: none
    }
    #nav-part1{
        height: 67px;
        overflow: hidden;
    }
    #nav-part1 svg{
        display: block;
        height: 67px;
        width: 80px;
    }
    #nav #toogoodlogo{
        height: 40px;
        margin-left: -2px;

    }
    
    #icons{
        padding: 7px;
        border-radius: 50px;
        background-color: #F7F7F7;
    }
    #nav-part2 #icons i{
        font-size: 15px;
        margin: 0 20px;
        font-weight: 100;
    }
    
    #page1{
        min-height: 70vh;
        white-space: nowrap;
        width: 100%;
        padding: 0 3vw;
        padding-top: 70vh;
        }

        #page1 h1 {
            font-size: 30vw;
            padding :3vw;
            line-height: 20vw;
            letter-spacing: -4px;
             
         }

         #video-container {
            height: 65vh;
            width: 190%;
            margin-top: 5vw;
            margin-left: 6px;
        }

        #video-container #play {
            padding: 9.5vw 7.2vw;
            font-size: 4.5vw;
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 1;
            scale: 1;
            transform: translate(-50%, -50%);
        }

        #page2 {
            min-height: 100vh;
            width: 190%;
            position: relative;
            display: flex;
            align-items: center;
            padding: 10vw 5vw;
            flex-direction: column;
            justify-content: space-between;
        
           
        }

        #page2 .elem {
            height: 190vh;
            width: 100%;
            overflow: hidden;
            margin-bottom: 5vw;
        }

    .elem .dets{
    height: 80px;
    border-radius: 50px;
    width: 70%;
    background-color: pink;
    position: absolute;

}
#page3{
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child{
    height: 55vh;
    width: 80vw;
    position: relative;
    display: flex;
    padding: 10vw;
    align-items: center;
    justify-content: center;
}
.child img{
    height: 100%;
}

}

    
